*{
    padding: 0px;
    margin: 0px;
}
/* home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 400px;
}
#home::before{
    content: "";
    position: absolute ;
    background-image: url('../img/bg2.jpg');
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1;
    
}

/* utility */
.h-primary{
    color: aliceblue;
}
#home h1{
    color: white;
}
#home p{
    color: white;
}